.carousel_banner{
    width: 45.5rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0rem !important;
    padding-top: 0rem !important;
}
.para{
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    color: #334d6e;
}
.features{
    max-width: 1440px;
}